.text-white{
text-align:center;
font-family: "Goudy Bookletter 1911", sans-serif;

}
#site{
font-family: "Goudy Bookletter 1911", sans-serif;
font-size:32px;
}
#bSite{
font-family: "Goudy Bookletter 1911", sans-serif;
}
ul {
  list-style-type: none;
}
ul li a{
color: white
text-decoration:none
}

div#input{
margin-left: 29%;
}
.sightings{
margin-left: 20%
}
p.link{
margin-left: -15em;
}
.anim{
margin-left:22%;
}
