.text-white{
text-align:center;
font-family: "Goudy Bookletter 1911", sans-serif;

}
#site{
font-family: "Goudy Bookletter 1911", sans-serif;
font-size:32px;
}
#bSite{
font-family: "Goudy Bookletter 1911", sans-serif;
}
ul {
  list-style-type: none;
}