{{#partial "content"}}

    <h2>Add Animal</h2>
    <div>
        <form action="/posts/animals/new" method="post">
            <div class="form-group">
                <label for="name">Animal Name</label>
                <input type="text" class="form-control col-sm-7" id="name" name="name" placeholder="Animal name">
            </div>
            <div class="form-group">
            <br>
                <button type="submit" class="btn btn-secondary btn-lg btn-block col-sm-7">Submit</button>
            </div>
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}