
{{#partial "content"}}
    <div id="site">
        <hr>

        <p class="font-weight-bold">Name: {{ animals.name }}</p>
        <hr>
        <p class="font-weight-bold">Health: {{ animals.health}}</p>
        <hr>
        <p class="font-weight-bold">Age: {{ animals.age }}</p>
        <hr>
    </div>




{{/partial}}

{{> layout.hbs}}