{{#partial "content"}}

    <h2>Add Animal</h2>
    <div id="site2">
        <form action="/posts/animals/new" method="post" >
            <div class="form-group mx-sm-3 mb-2">
                <label for="name" class="sr-only">Animal Name</label>
                <input type="text" class="form-control col-sm-5" id="name" name="name" placeholder="Animal Name">

            <!----->
            <div class="form-row align-items-center">
                    <label class="sr-only" for="Health">Health</label>
                    <select class="custom-select col-sm-5" id="Health">
                        <option selected>Choose Health...</option>
                        <option value="Healthy">Healthy</option>
                        <option value="ill">ill</option>
                        <option value="okay">Okay</option>
                    </select>
            </div>
            <br>
            <div class="form-row align-items-center">
                <label class="sr-only" for="Health">Health</label>
                <select class="custom-select col-sm-5" id="Health">
                    <option selected>Choose Age...</option>
                    <option value="Healthy">Adult</option>
                    <option value="ill">Young</option>
                    <option value="okay">NewBorn</option>
                </select>
            </div>
            <br><br>

            <button id="bSite" style="color:White"; type="submit" class="btn btn-outline-success">Create</button></div>
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}