{{#partial "content"}}

    <h2>Add Animal</h2>
    <div id="site2">
        <form action="/posts/animals/new" method="post">
            <div class="form-group">
                <label for="name" class="sr-only">Animal Name</label>
                <input type="text" class="form-control col-sm-7" id="name" name="name" placeholder="Animal Name">
            </div>
            <div class="form-group">
                    <label class="sr-only" for="Health">Health</label>
                    <select class="custom-select col-sm-7" id="Health">
                        <option selected>Choose Health...</option>
                        <option value="Healthy">Healthy</option>
                        <option value="ill">ill</option>
                        <option value="okay">Okay</option>
                    </select>
            </div>
            <br>
            <div class="form-group">
                <label class="sr-only" for="Health">Health</label>
                <select class="custom-select col-sm-7" id="Health">
                    <option selected>Choose Age...</option>
                    <option value="Healthy">Adult</option>
                    <option value="ill">Young</option>
                    <option value="okay">NewBorn</option>
                </select>
            </div>
            <div class="form-group">
            <br><br>
                <button type="submit" class="btn btn-secondary btn-lg btn-block col-ms-7">Create</button>
            </div>
        </form>
    </di    v>
{{/partial}}

{{> layout.hbs}}