{{#partial "content"}}

    <div class="container-fluid" id="welcome">
        <h1>NATURE IS WHAT NUTURES US AND AS SO, IT IS OUR RESPONSIBILITY TO PROTECT THEM.</h1>
        <br>
        <h2>Welcome to Majimaji Wildlife.</h2>
        <br><br>
        <h3><u>What Do You Have For Us Today? </u></h3>
        <div class="row" id="bSite">
            <div class="col-md-6">
                <a href="/posts/animals/new" style="color:White"; class="btn btn-outline-success btn-lg">Report A Sighting</a>
            </div>
            <div class="col-md-6">
                <a href="/posts/endangered-animals/new" style="color:White"; class="btn btn-outline-success btn-lg">Report An Endangered Sighting</a>
            </div>

        </div>

    </div>

{{/partial}}
{{>layout.hbs}}